/* src/app/app.component.css */

/* Importing Google Fonts for the retro style */


/* Main container and card styling to mimic a retro window */
.retro-container {
  max-width: 100vw;
}

.retro-card {
  border: 5px solid #114ec0;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.75); /* Shadow for a 3D effect */
  /* transform: rotate(-2deg); */
  animation: bounceIn 0.8s ease-out;
}

.retro-body {
  border: 5px solid #059b6e;
  border-radius: 10px;
  background-color: #1e0436af; /* Pink background */
  padding: 20px;
}

/* Animations */
/* @keyframes bounceIn {
  0% { transform: scale(0.8) rotate(-2deg); opacity: 0; }
  60% { transform: scale(1.05) rotate(-2deg); opacity: 1; }
  100% { transform: scale(1) rotate(-2deg); }
} */

/* Header styling */
.retro-header {
  font-family: 'Luckiest Guy', cursive;
  font-size: 3rem;
  color: #0487d3;
  -webkit-text-stroke: 2px #fff;
  text-shadow: 4px 4px 0px #e423f5;
  margin-bottom: 25px;
}
.score{
  width: 440px;
  font-family: 'Press Start 2P', cursive;
  color: #cc8eff;
  -webkit-text-stroke: 2px #111011;
  text-shadow: 2px 0px 0px #7b0299;
}Z
/* Form and input styling */
.retro-form {
  border: 3px solid #000;
  border-radius: 8px;
  background-color: #FFD700; /* Yellow background */
  padding: 10px;
}

.retro-input {
  border: 2px solid #e20c0c;
  border-radius: 5px;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8rem;
}

.retro-btn {
  border: 2px solid #000;
  border-radius: 5px;
  font-family: 'Luckiest Guy', cursive;
  background-color: #ec0316;
  color: #f0eaea;
  -webkit-text-stroke: 1px #000000;
}

.retro-btn:hover {
  background-color: #0e0d0d;
  color: #fff;
}

/* List styling */
.retro-list {
  list-style-type: none;
  padding: 0;
}

.retro-list-item {
  border: 3px solid #000;
  border-radius: 8px;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;

}

.retro-list-item:hover {
  transform: translate(2px, 2px);
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.retro-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.9rem;
  color: #333;
}

.completed-text {
  text-decoration: line-through;
  color: #888;
}

.retro-icon {
  font-size: 1.2rem;
  margin-right: 5px;
  color: #50E3C2;
}

.retro-delete-btn {
  background-color: #622cf7;
  color: #fff;
  border: 2px solid #050505af;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px 10px;
  line-height: 1;
}
.retro-edit-btn{
    background-color: #0ac496;
  color: #fff;
  border: 2px solid #070607;
  border-radius: 5px;
  font-size: rem;
  padding: 5px 10px;
  line-height: 1;
}
/* Empty message styling */
.retro-empty-message {
  font-family: 'Press Start 2P', cursive;
  color: #555;
  font-size: 0.8rem;
  text-shadow: 1px 1px 0px #fff;
}
