/* src/app/top-navbar/top-navbar.component.css */

.retro-navbar {
  background-color: #CAC426; /* A dark, deep purple from your header */
  /* border-bottom: 5px solid #CAC426; */

  box-shadow: 0px 5px 0px #FFFEEE;
  margin-bottom: 20px;

}

.retro-brand {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #080520; /* A vibrant pink from your body background */
}

.retro-toggler {
  border: 2px solid #fff;
  background-color: #ffd700;
}

.retro-toggler:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 215, 0, 0.5);
}

.retro-nav-link {
  font-family: "Press Start 2P", cursive;
  font-size: 0.8rem;
  color: #080000 !important;
  text-transform: uppercase;
  transition: all 0.2s;
}

.retro-nav-link:hover {
  color: #fdfdfd !important;
  text-shadow: 1px 1px 0px #000;
}

.retro-nav-link.active {
  color: #6958ff !important;
}
