
<div class="container-fluid ">
<div class="row justify-content-center  align-items-center" style="height: 100vh;">


  <div class="col-lg-3">

    <div class="pixel-container p-5 w-100" style="max-width: 450px;">
        <h2 class="text-center mb-2 ">Welcome Frog</h2>
     <span class="d-flex justify-content-center">  <img src="/assets/frog-logo.jpg" class="border-0 rounded-circle " style="width: 90px; height: 90px;  " alt=""></span>
            <p class="text-center mb-4 text-light ">Already have an account? <a class="text-light " routerLink="/auth/login">Login</a></p>

       <form (ngSubmit)="onRegister()">
             <div class="mb-3 d-flex align-items-center position-relative gap-3">
                 <span class="material-symbols-outlined ">
                alternate_email
              </span>
                <input
                    type="text"
                    class="form-control"
                    placeholder=" Username"
                    [(ngModel)]="username"

                    name="username"
                    required>

            </div>

                      <div class="mb-3 d-flex align-items-center position-relative gap-3">
              <span class="material-symbols-outlined">
mail
</span>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    [(ngModel)]="email"
                    name="email"
                    required>
            </div>
                       <div class="mb-3 d-flex align-items-center position-relative gap-3">
                    <span class="material-symbols-outlined">
lock
</span>
                <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    [(ngModel)]="password"
                    name="password"
                    required>

            </div>


            <div class=" mt-2">
                 <div class=" gap-2  d-flex justify-content-center">
                <button
                    type="submit"
                    class="btn btn-green mt-2 w-50"
                    [disabled]="!username || !password">
                    Register
                </button>
            </div>
            </div>
        </form>
    </div>

      </div>
</div>
</div>

