<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="pixel-container p-5 w-100" style="max-width: 450px;">
        <h2 class="text-center mb-4 text-pixel-green">Welcome <br> TO-DO LOGIN</h2>
        <form (ngSubmit)="onRegister()">
            <div class="mb-3">
                <input
                    type="text"
                    class="form-control"
                    placeholder="USERNAME"
                    [(ngModel)]="username"
                    name="username"
                    required>
            </div>
            <div class="mb-3">
                <input
                    type="text"
                    class="form-control"
                    placeholder="EMAIL"
                    [(ngModel)]="email"
                    name="email"
                    required>
            </div>
            <div class="my-1 ">
                <input
                    type="password"
                    class="form-control"
                    placeholder="PASSWORD"
                    [(ngModel)]="password"
                    name="password"
                    required>

            </div>
                       <div class="my-3">
                     <a  routerLink="/login">
                       <span class="text-white fs-6 mt-5">Already have an account?</span>
                     </a>
                       </div>

            <div class="d-grid gap-2 mt-2">
                <button
                    type="submit"
                    class="btn btn-primary btn-pixel"
                    [disabled]="!username || !password">
                    LOGIN
                </button>
            </div>
        </form>
    </div>
</div>
