<app-navbar></app-navbar>
  <div class="col-lg-4 mb-4 mb-lg-0">
       <div class="main-container">
        <div class="header">
            <div class="title-bar">
                <h1 class="title">MY PROFILE</h1>
            </div>
        </div>

        <div class="profile-section">
            <h2 class="username-display">Salsabeel Hatem</h2>
            <p class="profile-label">Your Unique ID:</p>
            <div class="id-container">
                <span id="userIdDisplay" class="user-id-text">68a5cd60bf8681137b11a598</span>
                <button id="copyIdButton" class="copy-button">COPY</button>
            </div>
        </div>
    </div>
        </div>

