/* src/app/sidebar/sidebar.component.css */

.retro-dashboard-card {
  border: 3px solid #000;
  border-radius: 18px;
  background-color: #222223; /* A lighter pink for contrast */
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.retro-dashboard-title {
  font-family: 'Luckiest Guy', cursive;
  color: #FFFEEE;
  -webkit-text-stroke: 1px #0a090a;

  font-size: 1.5rem;
  margin-bottom: 10px;

}

.retro-dashboard-subtitle {
  font-family: 'Luckiest Guy', cursive;
  color: #d39dff;
}

.retro-stat-box {
  background-color: #fff;
  border: 2px solid #d39dff;
  border-radius: 15px;

}

.retro-stat-label, .retro-stat-value {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.7rem;
}

.retro-divider {
  border-top: 2px dashed #ec9eff;
  margin: 15px 0;
}

.retro-icon-small {
  font-size: 1rem;
  margin-right: 5px;
  color: #d39dffa8;
}
