 <div class="d-flex flex-column h-100">
      <a class="navbar-brand my-5 mx-auto" routerLink="/layout/todos">
        <span class="d-flex justify-content-center">
          <!-- Using a placeholder for the logo -->
          <span class="d-flex justify-content-center">  <img src="/assets/logo.png" class="border-0 rounded-circle " style="width: 90px; height: 90px;  " alt=""></span>
        </span>
        <span class="retro-icon-small"></span> Frog
      </a>
      <nav class="nav flex-column gap-3">
        <a class="nav-link retro-nav-link" routerLink="/layout/my-nest" routerLinkActive="active-link">
          <i class="bi bi-house-door-fill me-2"></i>
          MyNest
        </a>
        <a class="nav-link retro-nav-link" routerLink="/dashboard/chat" routerLinkActive="active-link">
          <i class="bi bi-chat-dots-fill me-2"></i>
          Chat
        </a>
        <a class="nav-link retro-nav-link" routerLink="/dashboard/profile" routerLinkActive="active-link">
          <i class="bi bi-person-fill me-2"></i>
          My profile
        </a>
        <a class="nav-link retro-nav-link" routerLink="/dashboard/documentation" routerLinkActive="active-link">
          <i class="bi bi-file-earmark-text-fill me-2"></i>
          Documentation
        </a>
        <a class="nav-link retro-nav-link" routerLink="/dashboard/contact" routerLinkActive="active-link">
          <i class="bi bi-telephone-fill me-2"></i>
          Contact us
        </a>
      </nav>
    </div>
