<!-- src/app/sidebar/sidebar.component.html -->
<div class="card p-3 retro-dashboard-card">
  <h5 class="text-center retro-dashboard-title">My Stats</h5>
  <div class="d-flex flex-column gap-2">
    <div class="retro-stat-box">
      <span class="retro-stat-label">Level: </span>
      <span class="retro-stat-value">{{userScore?.level}}</span>
    </div>
    <div class="retro-stat-box">
      <span class="retro-stat-label">XP:</span>
      <span class="retro-stat-value">{{userScore?.points}} / 100</span>
    </div>
  </div>
  <hr class="retro-divider"/>
  <div class="retro-achievements">
    <h6 class="retro-dashboard-subtitle">Achievements:</h6>
    <ul class="list-unstyled">
      <li class="text-light"><span >⭐</span> First Task Completed</li>
    </ul>
  </div>
</div>
