<!-- src/app/sidebar/sidebar.component.html -->
<div class="card p-3 retro-dashboard-card">
  <h5 class="text-center retro-dashboard-title">My Stats</h5>

  <div class="row justify-content-center d-flex align-items-center mb-3">
    <div class="col-lg-4  d-flex justify-content-center align-items-center">
      <img [src]="this.getRandomImage()" class="border-0 rounded-circle " style="height: 80px; width: 80px;" alt="Profile Image">

    </div>
       <span class="text-light retro-stat-label text-center py-2 fs-6" style="text-transform: uppercase;">{{userScore?.username}}</span>
  </div>
  <div class="d-flex flex-column gap-2">
    <div class="retro-stat-box p-2 justify-content-between d-flex">
      <span class="retro-stat-label">Level: </span>
      <span class="retro-stat-value">{{userScore?.level}}</span>
    </div>
    <div class="retro-stat-box p-2 justify-content-between d-flex">
      <span class="retro-stat-label">XP:</span>
      <span class="retro-stat-value">{{userScore?.points}} / 100</span>
    </div>
  </div>
  <hr class="retro-divider"/>
  <div class="retro-achievements">
    <h5 class="text-center retro-dashboard-title">My Friends</h5>
  <div class="d-flex flex-column gap-2 mt-3" *ngFor="let item of myFriends">
    <div class="retro-stat-box d-flex flex-row p-2  gap-2 justify-content-between align-items-center" >
    <div class="  border-2 border-light rounded-4 d-flex flex-row col-lg-4" style=" background-color: #fcfcfc;">

       <img [src]="item.randomImage" class="border-0 rounded-circle m-2" style="height: 50px; width: 50;" alt="Profile Image">
      <span class="retro-stat-label text-dark d-flex align-items-center">{{item.username}} </span>

    </div>
<div class=" d-flex flex-row p-2  gap-2 col-lg-6" >
       <div class=" retro-stat-box p-2 d-flex align-items-center justify-content-center" style="width: 110px; height: 40px; background-color: #fcfcfc;">
      <span class="retro-stat-label">Level:</span>
      <span class="retro-stat-value ">{{item?.level}}</span>
</div>
       <div class="  retro-stat-box p-2 d-flex align-items-center justify-content-center" style="width: 110px; height: 40px; background-color: #fcfcfc;">
      <span class="retro-stat-label">XP:</span>
      <span class="retro-stat-value">{{item ?.points}}</span>
    </div>
    </div>


    </div>

  </div>
  </div>
</div>



